In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('administrativaActivos.csv')

In [3]:
df.head()

,Clave CT,Nombre CT,Clave Turno,Descripción Turno,Zona Escolar,Descripción Mpio.,Descripción Cat. Pob.,Longitud,Latitud,Docentes,Nivel,Modalidad
0,11EDI0010W,CENTRO DE DESARROLLO INFANTIL GABRIELA MISTRAL,1,Matutino,888.0,Guanajuato,U Urbana,-101.258428,21.011431,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
1,11EDI0020C,MARTHA CATALINA GARCIA OLIVARES,1,Matutino,888.0,León,U Urbana,-101.574590,21.098651,4.0,INICIAL ESCOLARIZADO,CENDI Estatal
2,11EDI0016Q,CENTRO DE DESARROLLO INFANTIL,1,Matutino,1.0,Apaseo el Alto,U Urbana,-100.620190,20.459970,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
3,11EDI0018O,CENTRO DE DESARROLLO INFANTIL MARIA MONTESSORI,1,Matutino,1.0,Apaseo el Grande,U Urbana,-100.688310,20.545310,3.0,INICIAL ESCOLARIZADO,CENDI Estatal
4,11EDI0001O,CENTRO DE DESARROLLO INFANTIL DIF,1,Matutino,888.0,Acámbaro,U Urbana,-100.727904,20.022944,2.0,INICIAL ESCOLARIZADO,CENDI Estatal

In [4]:
len(df.index)

14567

In [5]:
isPublic = df["Clave CT"].str.contains("^\d{2}[^P]")

In [6]:
df = df[isPublic]

In [7]:
len(df.index)

12277

In [8]:
df.drop(columns=["Clave CT", "Clave Turno"], inplace=True)

In [9]:
df.head()

,Nombre CT,Descripción Turno,Zona Escolar,Descripción Mpio.,Descripción Cat. Pob.,Longitud,Latitud,Docentes,Nivel,Modalidad
0,CENTRO DE DESARROLLO INFANTIL GABRIELA MISTRAL,Matutino,888.0,Guanajuato,U Urbana,-101.258428,21.011431,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
1,MARTHA CATALINA GARCIA OLIVARES,Matutino,888.0,León,U Urbana,-101.574590,21.098651,4.0,INICIAL ESCOLARIZADO,CENDI Estatal
2,CENTRO DE DESARROLLO INFANTIL,Matutino,1.0,Apaseo el Alto,U Urbana,-100.620190,20.459970,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
3,CENTRO DE DESARROLLO INFANTIL MARIA MONTESSORI,Matutino,1.0,Apaseo el Grande,U Urbana,-100.688310,20.545310,3.0,INICIAL ESCOLARIZADO,CENDI Estatal
4,CENTRO DE DESARROLLO INFANTIL DIF,Matutino,888.0,Acámbaro,U Urbana,-100.727904,20.022944,2.0,INICIAL ESCOLARIZADO,CENDI Estatal

In [10]:
df.rename(columns={"Nombre CT": "nombre",
                   "Descripción Turno": "turno",
                   "Zona Escolar": "zona_escolar",
                   "Descripción Mpio.": "municipio",
                   "Descripción Cat. Pob.": "área",
                   "Longitud": "longitud",
                   "Latitud": "latitud",
                   "Docentes": "docentes",
                   "Nivel": "nivel",
                   "Modalidad": "modalidad"}, inplace=True)

In [11]:
df.head()

,nombre,turno,zona_escolar,municipio,área,longitud,latitud,docentes,nivel,modalidad
0,CENTRO DE DESARROLLO INFANTIL GABRIELA MISTRAL,Matutino,888.0,Guanajuato,U Urbana,-101.258428,21.011431,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
1,MARTHA CATALINA GARCIA OLIVARES,Matutino,888.0,León,U Urbana,-101.574590,21.098651,4.0,INICIAL ESCOLARIZADO,CENDI Estatal
2,CENTRO DE DESARROLLO INFANTIL,Matutino,1.0,Apaseo el Alto,U Urbana,-100.620190,20.459970,5.0,INICIAL ESCOLARIZADO,CENDI Estatal
3,CENTRO DE DESARROLLO INFANTIL MARIA MONTESSORI,Matutino,1.0,Apaseo el Grande,U Urbana,-100.688310,20.545310,3.0,INICIAL ESCOLARIZADO,CENDI Estatal
4,CENTRO DE DESARROLLO INFANTIL DIF,Matutino,888.0,Acámbaro,U Urbana,-100.727904,20.022944,2.0,INICIAL ESCOLARIZADO,CENDI Estatal

In [12]:
df["nombre"].isnull().sum()

0

In [13]:
df["turno"].isnull().sum()

0

In [14]:
df["zona_escolar"].isnull().sum()

769

In [15]:
df["municipio"].isnull().sum()

0

In [16]:
df["área"].isnull().sum()

0

In [17]:
df["longitud"].isnull().sum()

0

In [18]:
df["latitud"].isnull().sum()

0

In [19]:
df["docentes"].isnull().sum()

1548

In [20]:
df["nivel"].isnull().sum()

0

In [21]:
df["modalidad"].isnull().sum()

0

In [22]:
df["zona_escolar"] = df["zona_escolar"].astype('Int64')

In [23]:
df["docentes"] = df["docentes"].astype('Int64')

In [24]:
df["zona_escolar"].dtype

Int64Dtype()

In [25]:
df["docentes"].dtype

Int64Dtype()

In [26]:
df['área'].unique()

array(['U Urbana', 'R Rural'], dtype=object)

In [27]:
df['área'] = df['área'].str.replace('U Urbana', 'Urbana')

In [28]:
df['área'] = df['área'].str.replace('R Rural', 'Rural')

In [29]:
df['área'].unique()

array(['Urbana', 'Rural'], dtype=object)

In [30]:
import sqlite3

In [36]:
database = "guanajuato.db"
conn = sqlite3.connect(database)

In [37]:
cursor = conn.cursor()

In [38]:
cursor.execute('''CREATE TABLE centro_de_trabajo_table (
                    centro_de_trabajo_id INTEGER PRIMARY KEY NOT NULL,
                    nombre TEXT,
                    turno TEXT,
                    zona_escolar INTEGER,
                    municipio TEXT,
                    área TEXT,
                    longitud REAL,
                    latitud REAL,
                    docentes INTEGER,
                    nivel TEXT,
                    modalidad TEXT
                    )''')

In [39]:
df.to_sql(name='centro_de_trabajo_table', con=conn, if_exists='append', index=False)
conn.close()